body {
    font-family: Verdana, Geneva, sans-serif;
    text-align: center;
    display: flex;
    gap: 10px;
}

#myButton {
    font-size: 1em;
    width: 100px;
    text-align: center;
    position: relative;
    left: 810px;
    border-radius: 5px;
}

#myLabel {
    position: absolute;
    font-size: 3em;
}